<p id="notice"><%= notice %></p>

<p>
  <strong>Sub category name:</strong>
  <%= @subcategory.sub_category_name %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
